
<h1>Crear COntenedor Azure</h1>

<p>
   
    </p>

    <form method="post">
    <label>Nombre del contenedor</label>
    <input type="text" name="containerName" class="form-control" />
    <button class="btn btn-dark">Crear contenedor</button>
</form>

