<h1>Upload Azure File</h1>

<p>
    <a asp-controller="AzureFile" asp-action="Index">Back to Index</a>
</p>

<form method="post" enctype="multipart/form-data">
    <label>Seleccione un fichero</label>
    <input type="file" name="file" class="form-control" />
    <button class="btn btn-dark">Upload file</button>
</form>


<p style="color:red">

    @ViewData["MENSAJE"]
</p>

